---
layout: default
title: Writing - David Morales
h1_title: Writing
---

<article class="prose lg:prose-lg dark:prose-invert">
  <p>I like to write and publish articles on the following platforms:</p>

  <section class="py-8">
    <a href="https://ninjadevel.com" title="NinjaDevel logo" target="_blank" rel="noopener" class="block w-52">
      {% include ninjadevel-logo.html %}
    </a>

    <p>In NinjaDevel, I write articles about web development, Git, Linux, and databases.</p>
  </section>

  <section class="pt-4 pb-8">
    <a href="https://davidmles.medium.com" title="Medium logo" target="_blank" rel="noopener nofollow" class="block w-48">
      {% include medium-logo.html %}
    </a>

    <p>In Medium, I publish comparisons and analysis of software tools. I also write about productivity, business, and marketing.</p>

    <p>Within Medium itself, I publish my articles in <a href="https://medium.com/swlh" target="_blank" rel="noopener nofollow">The Startup</a>  publication.</p>
  </section>

  <section class="pt-4">
    <a href="https://hackernoon.com/u/davidmles" title="HackerNoon logo" target="_blank" rel="noopener nofollow">
      <img src="/assets/images/hackernoon-logo.png" alt="HackerNoon logo" width="300" style="margin: 0" class="dark:hidden">
      <img src="/assets/images/hackernoon-logo-dark.png" alt="HackerNoon logo" width="300" style="margin: 0" class="hidden dark:block">
    </a>

    <p>In HackerNoon, I republish my technical, comparisons, and analysis articles.</p>
  </section>
</article>
