<nav class="mt-6">
  <div class="max-w-7xl px-4 mx-auto sm:flex sm:justify-center">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="hidden sm:block sm:ml-6">
          <div class="flex justify-center space-x-4 text-base font-medium tracking-wider uppercase text-gray-800">
            {% for item in site.data.navigation %}
              <a href="{{ item.link }}" class="{% if page.url == item.link %}bg-gray-200{% else %}hover:text-black hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white{% endif %} px-3 py-2 rounded-md">
                {{ item.name }}
              </a>
            {% endfor %}

            <button class="px-3 py-2 rounded-md focus:outline-none hover:text-black hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white dark:hidden" id="moon-button">
              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
              </svg>
            </button>

            <button class="hidden px-3 py-2 rounded-md focus:outline-none hover:text-black hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white dark:block" id="sun-button">
              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Mobile menu buttons -->
      <div class="-mr-2 flex space-x-4 sm:hidden">
        <button class="px-3 py-2 rounded-md focus:outline-none hover:text-black hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white dark:hidden" id="mobile-moon-button">
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
          </svg>
        </button>

        <button class="hidden px-3 py-2 rounded-md focus:outline-none hover:text-black hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white dark:block" id="mobile-sun-button">
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
        </button>

        <button type="button" class="px-3 py-2 rounded-md focus:outline-none hover:text-black hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white" aria-controls="mobile-menu" aria-expanded="false" id="mobile-menu-toggler">
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="hidden sm:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1 text-base font-medium tracking-wider uppercase">
      {% for item in site.data.navigation %}
        <a href="{{ item.link }}" class="{% if page.url == item.link %}bg-gray-200{% else %}hover:text-black hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white{% endif %} block px-3 py-2 rounded-md">
          {{ item.name }}
        </a>
      {% endfor %}
    </div>
  </div>
</nav>
